/* General */
body {
    margin: 0;
}
body header img, body .container img, body footer img {
    width: 100%;
    vertical-align: top;
}

body .texto {
    font-size: 18px;
    width: 57%;
    display: block;
    margin: 15px auto;
    padding: 10px 5px;
}


